.ImportColumnHeaders{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    border-bottom: 3px solid var(--store-primary);
    padding: 10px;
    margin-bottom: 10px;
    max-width: 100vw;
    overflow: hidden;
}

.ImportColumnHeaders>div{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
}

.ImportColumnHeaders-text{
    color: var(--store-primary);
    font-size: 18px;
    font-weight: 600;
}

.ImportColumnHeaders-label{
    color: var(--store-primary)!important;
    font-size: 18px;
    padding: 9px;
    margin: auto 10px;
    border-radius: 6px;
    text-align: center;
    margin-right: 0;
    margin-bottom: 0;
    padding-bottom: 0%;
}

.ImportColumnHeaders-select-wrapper{
    max-width: 210px;
    margin: auto 10px;
}

.ImportColumnHeaders-select-wrapper>.ImportColumnHeaders-label{
    margin-right: 7px;
    max-width: 700px;
    width: 100%;
}

.ImportColumnHeaders-example-text{
    border-radius: 6px;
    color: var(--store-primary);
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding: 0 10px;
    margin: auto 10px;
    width: 250px;
    padding-bottom: 0%;
    margin-bottom: 0;
}

@media only screen and (max-width: 1000px) {
    .ImportColumnHeaders{
        flex-wrap: wrap;
    }
    .ImportColumnHeaders-select-wrapper>.ImportColumnHeaders-label{
        margin-right: 38px;
        max-width: 700px;
        width: 100%;
    }
    .ImportColumnHeaders-example-text{
        opacity: 0;
        height: 0!important;
        overflow: hidden;
        padding: 0;
        margin: 0;
        display: none;
    }
}

@media only screen and (max-width: 700px){
    .ImportColumnHeaders-example-text{
        min-width: 250px;
        flex: 1;
    }
    .ImportColumnHeaders-select-wrapper{
        max-width: 210px;
        margin: auto 0px;
        margin-right: 15px;
    }
}