.StoreViewForUser-Loading-more{
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.StoreViewForUser-Loading-more>p{
    text-align: center;
}

.StoreViewForUser-TotalresultNum{
    margin-top: 6px;
    color: var(--user-primary);
}

.StoreViewForUser-gridView{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.StoreViewForUser-view-wrapper{
    position: fixed;
    top: 35px;
    /* position: absolute;
    top: 5px; */
    right: 5px;
    background-color: var(--user-primary);
    padding: 2px;
    border-radius: 4px;
    cursor: pointer;
    z-index: 11;
    width: fit-content;
}

.StoreViewForUser-view-wrapper>img{
    width: 20px;
    margin-top: 2px;
    padding: 0;
}

.StoreViewForUser-searchedTextP{
    margin: 0px 10px;
    vertical-align: middle;
    display: flex;
    align-items: center;
    font-weight: 300;
}

.StoreViewForUser-searchedTextP>i{
    margin: 0;
    padding: 0;
    font-weight: 300;
}