.NormalButton1{
    padding: 15px 25px;
    outline: none;
    background-color: green;
    color: white;
    cursor: pointer;
    transition: all ease .4s;
    border: none;
    font-weight: 600;
}

.NormalButton1:hover{
    box-shadow: rgba(0, 128, 0, 0.19) 0px 10px 20px, rgba(0, 128, 0, 0.23) 0px 6px 6px;
}